body{
	background-image: url('c.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.a{
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
.b{
	background-color: white;
	width: 28%;
	padding: 10px;
	border: 2px solid black;
}
@media only screen and (min-width:320px) and (max-width: 767px){
	.a{
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 0px;
	}
	.b{
		width: 90%;
		padding: 1%;
		margin: 4%;
	}
}
@media only screen and (min-width:768px) and (max-width:1023px){
	.a{
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 0px;
	}
	.b{
		width: 90%;
		padding: 1%;
		margin: 4%;
	}
}